/* Complete the challenge by writing CSS below */

header {
    text-align: center;
}
.logo {
    width: 110px;
    margin: auto;
    display: block;
}
.main-nav li {
    display: inline;
}
.main-nav {
    display: inline-block;
}