/* Complete the challenge by writing CSS below */
.footer-nav {
    float: left;
}
.footer-nav li {
    float: left;
}
.logo {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}